# Import Library

In [ ]:
import pandas as pd
import numpy as np
import math

# Import Dataset

In [ ]:
url = "https://raw.githubusercontent.com/irhamnaufal8/TubesAI3_KNN/main/traintest.xlsx"
df = pd.read_excel(url, "train")
df2 = pd.read_excel(url, "test")
df

      id  x1  x2  x3  y
0      1  60  64   0  1
1      2  54  60  11  0
2      3  65  62  22  0
3      4  34  60   0  1
4      5  38  69  21  0
..   ...  ..  ..  .. ..
291  292  59  64   1  1
292  293  65  67   0  1
293  294  53  65  12  0
294  295  57  64   1  0
295  296  54  59   7  1

[296 rows x 5 columns]

In [ ]:
df2

    id  x1  x2  x3  y
0  297  43  59   2  ?
1  298  67  66   0  ?
2  299  58  60   3  ?
3  300  49  63   3  ?
4  301  45  60   0  ?
5  302  54  58   1  ?
6  303  56  66   3  ?
7  304  42  69   1  ?
8  305  50  59   2  ?
9  306  59  60   0  ?

# Random Data Sample

In [ ]:
x = np.array(df.drop(['id','y'],axis=1).sample(frac=1))
y = np.array(df['y'].sample(frac=1))

# Split Dataset

In [ ]:
n_train = math.floor(0.6 * x.shape[0])
n_test = math.ceil(0.4 * x.shape[0])
x_train = x[:n_train]
y_train = y[:n_train]
x_test = x[n_train:]
y_test = y[n_train:]
print("Total data untuk train:",x_train.shape[0])
print("Total data untuk test:",x_test.shape[0])

Total data untuk train: 177
Total data untuk test: 119

# Kalkulasi Jarak: Euclidian

In [ ]:
last_array = []
for i in range(len(x_test)):
  array = []
  for j in range(len(x_train)):
    jarak = (sum((x_test[i]-x_train[j])**2))**0.5
    array.append((jarak,y_train[j]))
  array.sort()
  last_array.append(array)

# Train Data
Penentuan K menggunakan elbow method, yaitu mencoba k yang paling optimal. Tidak terlalu sedikit, tidak terlalu banyak juga.

In [ ]:
k = 23

In [ ]:
y_hasil = []
for i in range(len(last_array)):
  satu = 0
  nol = 0
  for j in range(k):
    if last_array[i][j][1] == 1:
      satu = satu + 1
    else:
      nol = nol + 1
  if satu > nol:
    y_hasil.append(1)
  else:
    y_hasil.append(0)

accuracy = (y_hasil == y_test).sum() * 100 / len(y_test)
print("akurasi training: " + str(accuracy)+"%")
print(y_hasil)
print(y_test)

akurasi training: 74.78991596638656%
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
[1 1 1 1 1 0 1 1 1 0 0 1 1 1 0 0 0 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 0 0 1
 0 0 1 0 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0
 0 1 1 0 1 1 1 1 1 0 1 1 0 1 0 1 1 1 1 1 1 0 0 1 1 1 0 1 1 1 1 1 0 1 1 1 1
 1 0 1 1 1 0 1 0]

# Test

In [ ]:
x_test2 = np.array(df2.drop(['id','y'],axis=1))

In [ ]:
last_array2 = []
for i in range(len(x_test2)):
  array2 = []
  for j in range(len(x_train)):
    jarak2 = (sum((x_test2[i]-x_train[j])**2))**0.5
    array2.append((jarak2,y_train[j]))
  array2.sort()
  last_array2.append(array2)

In [ ]:
y_hasil2 = []
for i in range(len(last_array2)):
  satu = 0
  nol = 0
  for j in range(k):
    if last_array2[i][j][1] == 1:
      satu = satu + 1
    else:
      nol = nol + 1
  if satu > nol:
    y_hasil2.append(1)
  else:
    y_hasil2.append(0)

print(y_hasil2)

[1, 1, 1, 1, 1, 1, 1, 0, 1, 1]

# Save Data to Excel

In [ ]:
new_y = np.array(y_hasil2)
data_hasil = pd.DataFrame()
data_hasil['id'] = df2['id']
data_hasil['x1'] = df2['x1']
data_hasil['x2'] = df2['x2']
data_hasil['x3'] = df2['x3']
data_hasil['y'] = new_y.tolist()
print(data_hasil) 
file = pd.ExcelWriter('Hasil.xlsx')
data_hasil.to_excel(file)
file.save()

    id  x1  x2  x3  y
0  297  43  59   2  1
1  298  67  66   0  1
2  299  58  60   3  1
3  300  49  63   3  1
4  301  45  60   0  1
5  302  54  58   1  1
6  303  56  66   3  1
7  304  42  69   1  0
8  305  50  59   2  1
9  306  59  60   0  1